* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

/* FUNDO */
.background {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("fundo.jpg") no-repeat center center / cover;
}

/* TOPO */
.topo {
  padding: 20px 40px;
}

.logo {
  width: 200px;
  margin-left: 300px;
}

/* CARD DE LOGIN */
.login-container {
  width: 450px;
  padding: 50px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 6px;
}

.login-container h1 {
  margin-bottom: 30px;
}

/* INPUTS */
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 18px;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid white ;
  border-color: #737373;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.login-container input::placeholder {
  color: #8c8c8c;
}

/* BOTÃO */
.login-button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #f6121d;
}

/* OPÇÕES */
.opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
  color: #b3b3b3;
}

.opcoes a {
  color: #b3b3b3;
  text-decoration: none;
}

.opcoes a:hover {
  text-decoration: underline;
}

/* CADASTRO */
.cadastro {
  margin-top: 40px;
  font-size: 20px;
  color: #737373;
}

.cadastro a {
  color: white;
  text-decoration: none;
}

.cadastro a:hover {
  text-decoration: underline;
}

.cadastro small {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  color: #8c8c8c;
}

.cadastro small a {
  color: #0071eb;
}

.ou {
  margin: 20px 0;
  text-align: center;
  color: #b3b3b3;
  font-size: 15px;
  font-weight: bold;
}

.btn-codigo {
  width: 100%;
  padding: 14px;
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-codigo:hover {
  background-color: #444;
}

.esqueceu {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.esqueceu:hover {
  text-decoration: underline;
}

.opcoes {
  margin-top: 30px;
  font-size: 13px;
  color: #b3b3b3;
}
